body {
    margin: 0;
    font-size: 14px;
}

.dotcom{
    color: #4CAF50;
}

.w3-wide {
    letter-spacing: 4px;
}

.w3-right {
    float: right!important;
}

.toptext {
    position: relative;
    top: 22px;

}

.w3schools-logo {
    text-decoration: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 37px;
    letter-spacing: 3px;
    color: #555555;
    display: block;
    position: absolute;
    top: 40px;
}

a.w3schools-logo:hover{
    color: #4CAF50;
}

.header {
    position: relative;
    background-color: #ffffff;
    height: 68px;
    padding-top: 20px;
    line-height: 50px;
    overflow: hidden;
    z-index: 2;
}

#navbar {
    position: fixed;
    overflow: hidden;
    background-color: #5F5F5F;
    width: 100%;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#navbar a:hover {
    background-color: black;
    color: white;
}

#navbar a.active {
    background-color: #4CAF50;
    color: white;
}

.content {
    padding: 60px 15px 15px 180px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 60px;
}

.sidenav {
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 136px;
    left: 0;
    background-color: #F1F1F1;
    overflow-x: hidden;
    padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 15px;
    color: black;
    display: block;
}
.sidenav a.active {
    background-color: #4CAF50;
    color: #ffffff;
}
.sidenav a:hover {
    color: #000000;
    background-color: #cccccc;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 15px;
    }
}
.w3-white, .w3-hover-white:hover {
    color: #000 !important;
    background-color: #fff !important;
}

.w3-container, .w3-panel {
    padding: 0.01em 100px;
}

.w3-center {
    text-align: center!important;
}

.w3-small {
    font-size: 12px!important;
}

.w3-padding {
    padding: 8px 16px!important;
}

.w3-opacity, .w3-hover-opacity:hover {
    opacity: 0.60;
}

.w3-col.l3 {
    width: 24.99999%;
}

.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
    float: left;
    width: 100%;
}

.w3-light-grey, .w3-hover-light-grey:hover {
    color: #000 !important;
    background-color: #f1f1f1 !important;
}
.w3-col, .w3-half, .w3-third, .w3-twothird, .w3-threequarter, .w3-quarter {
    float: left;
    width: 100%;
}
